*{
	margin: auto;
	padding: auto;
}
.wrapper
{
	height: 100px;
	width: 100%;
}

	
.name{
	width:24%;
	height:60px; 
	color: black;
	float: left;
	padding: 10px;
	font-size: 30px;
	font-family: Monotype Corsiva;
}
nav{
	width: 100%;
	height: 80px;
	line-height: 80px; 
	float: left;
	font-size: 30px;
	background-color: mintcream;
	position: fixed;
}
nav:hover{
	transition-delay: 0.1s;
	transition-duration: 2.5s;
	background-color: #1B9AB75;
	
}
nav ul{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.3s all;
}

 nav ul li:hover{
 	background-color: #F6F6F3;
 	transition-delay: 0.1s;
 	transition-duration:1s;
 	transition-timing-function: 2s;
 }

nav ul li a{
	text-decoration: none;
	color: black;
	padding: 20px;
}
button{
	height: 61px;
	width: 24%;
	padding: 15px;
	display: flex;
	background-color: #F6F6F6;
	text-align: center;
	font-size: 20px;
	color: black;
	text-decoration: none;

}
.space{
	width :18%;
	height:300px;
	float: left;
}
.image1{
	float: left;
	height: 100px;
	width: 100px;

}
.space2{
	height: 100px;
	display: flex;

}
.text{
	height: 100px;
	width: 50%;
	float: left;
	font-size: 35px;
	padding-left: 100px;
	color: black;
	font-family: Monotype Corsiva;
}
.space3{
	height: 200px;
	width:100%;

}
.image2{
	height: 450px;
	width: 35%;

}
.Cv{
	height: 250px;
	width: 30%;

	float: left;
	font-size: 26px;
	margin: 10px;
	padding: 10px;
	color: black;
}
.blog{
	height: 250px;
	width: 30%;

	float: right;
	font-size: 26px;
		margin: 10px;
		padding: 10px;
		color: black;
}

.Cv1{
	height: 250px;
	width: 30%;
	float: left;
	font-size: 26px;
	margin: 10px;
	padding: 10px;
	color: black;
}
.blog1{
	height: 250px;
	width: 30%;

	float: right;
	font-size: 26px;
		margin: 10px;
		padding: 10px;
		color: black;
}
.space4{
	width: 100%;

	height: 10px;
}
.space5{
	width: 100%;
	height:300px;
}
.icons{
	width: 100%;
	height: 100px;

	float: left;
	padding-left: 300px;
}
.icons img{
	margin: 15px;
}
.footer{
	height: 50px;
	width: 100%;
	color: #194C2B;
	text-align: center;
	font-size: 23px;
}

/*CSS for CV starts here*/
*{
	margin: auto;
	padding: auto;
}
.wrapper1
{

	height: 100px;
	width: 100%;
}
.name1
{
	width:24%;
	height:60px; 
	color: black;
	float: left;
	padding: 10px;
	font-size: 30px;
	font-family: Monotype Corsiva;
}
nav{
	width: 100%;
	height: 70px;
	line-height: 70px; 
	float: right;
	font-size: 30px;
	background-color: mintcream;
	position: fixed;
}
nav:hover{
	transition-delay: 0.1s;
	transition-duration: 2.5s;
	background-color:#1B9AB7;
	
}
nav ul{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.3s all;
}

 nav ul li:hover{
 	background-color: #F6F6F3;
 	transition-delay: 0.1s;
 	transition-duration:1s;
 	transition-timing-function: 2s;
 }

nav ul li a{
	text-decoration: none;
	color: black;
	padding: 20px;
}
.space6{
	width: 100%;
	height:150px;
}
.icons{
	width: 100%;
	height: 100px;

	float: left;
	padding-left: 300px;
}
.icons img{
	margin: 15px;
}
.footer{
	height: 50px;
	width: 100%;
	color: #194C2B;
	text-align: center;
	font-size: 23px;
}
.image3{

	float: left;
	height: 260px;
	width: 30%;
	margin-top: 100px;
	}
h2{
	font-size: 35px;
	font-family: Arial;
	color: black;
}
.about h2{
	font-family: Monotype Corsiva;
	font-size: 45px;
}
.space7{
	width: 60%;
	height:10px;
}
.dob{
	font-family: Arial;
	padding: 10px;
	color: black;
}


.address{
	font-family: Arial;
	padding: 10px;
	color: black;
}
.email{
	font-family: Arial;
	padding: 10px;
	color: black;
}
.phone{
	font-family: Arial;
	padding: 10px;
	color: black;
}

.space8{
	height: 500px;
	width: 30%;
	float: left;
	font-size: 26px;
	margin: 10px;
	padding: 10px;
	color: black;
}
h1{
	font-family: Arial;
	font-size: 35px;
}



.ski{
	font-family: Arial;
	font-size: 25px;

}
.edu{
	font-family: Arial;
	font-size: 25px;

}
.about{
	font-family: Arial;
	font-size: 25px;

}
.int{
	font-family: Arial;
	font-size: 25px;

}


/*CSS for Blog starts here*/
*{
	margin: 0;
	padding: 0;
}
.wrapper3
{
	height: 80px;
	width: 80%;
}

	
.name3{
	width:24%;
	height:60px; 
	color: black;
	float: left;
	padding: 10px;
	font-size: 30px;
	font-family: Monotype Corsiva;
}
nav{
	width: 100%;
	height: 20px;
	line-height: 80px; 
	float: left;
	font-size: 30px;
	background-color: mintcream;
	position: fixed;
}
nav:hover{
	transition-delay: 0.1s;
	transition-duration: 2.5s;
	background-color: #1B9AB7;
	
}
nav ul{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.3s all;
}

 nav ul li:hover{
 	background-color: #F6F6F3;
 	transition-delay: 0.1s;
 	transition-duration:1s;
 	transition-timing-function: 2s;
 }

nav ul li a{
	text-decoration: none;
	color: black;
	padding: 20px;
}

.tech{
	width: 100%;
	font-size: 25px;
	font-family: Arial;
	color: black;

}
.tech2{
	width: 100%;
	font-size: 25px;
	font-family: Arial;
	color: black;
}
.space111{
	width: 100%;
	height:100px;
}
.icons{
	width: 100%;
	height: 100px;

	float: left;
	padding-left: 300px;
}
.icons img{
	margin: 15px;
}
.footer{
	height: 30px;
	width: 100%;
	color: #194C2B;
	text-align: center;
	font-size: 23px;
}
/*CSS for Research starts here*/
*{
	margin: auto;
	padding: auto;
}
.wrapper2
{
	height: 100px;
	width: 100%;
}

	
.name2{
	width:24%;
	height:60px; 
	color: black;
	float: left;
	padding: 10px;
	font-size: 30px;
	font-family: Monotype Corsiva;
}
nav{
	width: 100%;
	height: 80px;
	line-height: 80px; 
	float: left;
	font-size: 30px;
	background-color: mintcream;
	position: fixed;
}
nav:hover{
	transition-delay: 0.1s;
	transition-duration: 2.5s;
	background-color:#1B9AB7;
	
}
nav ul{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.3s all;
}

 nav ul li:hover{
 	background-color: #F6F6F3;
 	transition-delay: 0.1s;
 	transition-duration:1s;
 	transition-timing-function: 2s;
 }

nav ul li a{
	text-decoration: none;
	color: black;
	padding: 20px;
}
.space11{

	width: 100%;
	height:20px;
}
button{
	height: 61px;
	width: 27%;
	padding: 10px;
	display: flex;
	background-color: #F6F6F6;
	text-align: left;
	font-size: 20px;
	color: black;

}

.brain{
	height: 250px;
	width: 30%;

	float: center;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	color: black;
}
.space12{
	
	height: 100px;
	width: 200px;
}

}
.space13{
	
	height: 100px;
	width: 200px;
}

.space14{
	
	height: 100px;
	width: 200px;
}
.space15{
	
	height: 100px;
	width: 200px;
}
.space17{

	height: 100px;
	width: 200px;
}

.icons{
	width: 100%;
	height: 100px;

	float: left;
	padding-left: 300px;
}
.icons img{
	margin: 15px;
}
.footer{
	height: 30px;
	width: 100%;
	color: #194C2B;
	text-align: center;
	font-size: 23px;
}

/*CSS of Contact US starts from here*/
*{
	margin: auto;
	padding: auto;
}
.wrapper4
{
	height: 100px;
	width: 100%;
}

	
.name4{
	width:24%;
	height:60px; 
	color: black;
	float: left;
	padding: 10px;
	font-size: 30px;
	font-family: Monotype Corsiva;
}
nav{
	width: 100%;
	height: 80px;
	line-height: 80px; 
	float: left;
	font-size: 30px;
	background-color: mintcream;
	position: fixed;
}
nav:hover{
	transition-delay: 0.1s;
	transition-duration: 2.5s;
	background-color:#1B9AB7;
	
}
nav ul{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.3s all;
}

 nav ul li:hover{
 	background-color: #F6F6F3;
 	transition-delay: 0.1s;
 	transition-duration:1s;
 	transition-timing-function: 2s;
 }

nav ul li a{
	text-decoration: none;
	color: black;
	padding: 20px;
}
body{
	font-family: Arail;
}
.space99{
	height: 100px;
	width: 100%;
}

.icons{
	width: 100%;
	height: 100px;

	float: left;
	padding-left: 300px;
}
.icons img{
	margin: 15px;
}
.footer{
	height: 30px;
	width: 100%;
	color: #194C2B;
	text-align: center;
	font-size: 23px;
}
h1{
	font-size: 35;
	font-family: Monotype Corsiva;
}

h3{
	font-size: 35;
	font-family: Monotype Corsiva;
	margin-bottom: 7px;
}
.container{
	width: 70%;
	margin: 40px auto;
	font-size: 25px;
}
.box{
	background: floralwhite ;
	display: flex;
}
.left{
	padding: 30px 60px;
	flex-basis: 60%;
}
.right{
	flex-basis:40% ;
	padding: 30px;
	background-color:#DD70B5;
}
.container p{
	margin-bottom: 25px;
}
.irow{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.irow .igroup{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: double;
}
textarea{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: double;
}
label{
	margin-bottom: 5px;
	display: block;
	color:#DC673B ;
}
.container button{
	background-color: lightpink;
	width: 85px;
	border-radius: 30px;
	height: 45px;
	border: none;
	color: black;
	margin-top: 20px;
	display: inline-block;
	box-shadow:0px 5px 0px rgba(28, 0, 181, 0.3);
}

.left h2{
	font-weight: 600 ;
	margin-bottom: 20px;
	font-size: 30px;

}
.right h2{
	font-weight: 600 ;
	font-size: 45px;
	font-family: Monotype Corsiva;

}